<div class="dialog-header">
  <span>Register in Flow B</span>
  <a class="btn btn-close" (click)="closeDialog()">&#x2716;</a>
</div>
<div class="dialog-body">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ut dictum massa, pharetra condimentum odio. Quisque semper nulla ipsum, vel porttitor mi tempus at. Suspendisse finibus vehicula odio. Cras dapibus dui id sodales dictum. Praesent ac elit nec nisi dapibus tincidunt a quis ante. Nullam ut nunc arcu. Quisque mollis ut tellus eu ultricies. Praesent faucibus non dolor eu lobortis.</p>
</div>
<div class="dialog-footer">
  <a class="btn" (click)="registerFlow('b')">Register</a>
</div>
