.external-user-item {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

  .external-user-item:last-child {
    border-bottom: none;
    padding-bottom: none;
    margin-bottom: none;
  }

  .external-user-item-name {
    display: block;
    font-weight: bold
  }

  .external-user-item-name {
    display: block;
    font-style: oblique;
  }
