<div class="dialog-header">
  <span>Advanced details</span>
</div>
<div class="dialog-body">
  <div class="external-user-item" *ngFor="let external_user of external_users">
    <span class="external-user-item-name">{{ external_user.name }}</span>
    <span class="external-user-item-email">{{ external_user.email }}</span>
  </div>
</div>
<div class="dialog-footer">
  <a class="btn" (click)="changeDisplay('a')">Basic details</a>
  <a class="btn" routerLink="/conclusion">Finish</a>
</div>
