<div class="dialog-header">
  <span>Register in Flow A</span>
  <a class="btn btn-close" (click)="closeDialog()">&#x2716;</a>
</div>
<div class="dialog-body">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ut dictum massa, pharetra condimentum odio. Quisque semper nulla ipsum, vel porttitor mi tempus at. Suspendisse finibus vehicula odio. Cras dapibus dui id sodales dictum. Praesent ac elit nec nisi dapibus tincidunt a quis ante. Nullam ut nunc arcu. Quisque mollis ut tellus eu ultricies. Praesent faucibus non dolor eu lobortis.</p>
  <p>Sed elit urna, rhoncus ac varius vitae, facilisis non tortor. Nullam vel purus non lacus varius euismod non et tellus. Suspendisse tincidunt dolor eget erat lobortis pulvinar. Praesent eleifend, lorem id tincidunt lacinia, est eros maximus lacus, sed convallis est turpis eget dolor. Cras et diam orci. In in laoreet enim. Mauris nec venenatis dui.</p>
  <p>Nam consequat ultrices arcu vel accumsan. Praesent tempus hendrerit molestie. Maecenas non egestas justo, in lacinia arcu. Ut risus purus, finibus ac velit dictum, porta tempor justo. Duis accumsan nulla id consequat posuere. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam aliquet orci ut sem sodales imperdiet vel eget ante. Donec at felis vel libero fringilla interdum. In posuere, purus et auctor tristique, libero lorem rutrum lorem, ut varius libero magna a turpis. Vivamus tempus enim auctor lorem sagittis vulputate.</p>
  <p>Duis accumsan sed justo a laoreet. Aliquam at libero vehicula, rutrum justo sed, aliquam tortor. Pellentesque eleifend ex vel elit egestas, sit amet eleifend nibh congue. Nunc consectetur metus at enim ultrices, sed egestas diam dictum. Etiam ac ligula purus. Cras vulputate vitae nisi non scelerisque. Aliquam vel libero pretium, volutpat tellus sed, mollis est. Nam dictum pretium vulputate. Phasellus facilisis convallis ante, rutrum fermentum nulla facilisis eu. Duis id egestas tellus, ac malesuada neque.</p>
  <p>Nullam vel consectetur velit, nec molestie odio. Aliquam erat volutpat. Ut id felis ut massa rhoncus mollis id sed nulla. Aenean pellentesque ante ut euismod tincidunt. Ut in efficitur urna, a commodo nulla. Donec scelerisque ac ipsum quis varius. Suspendisse sed finibus purus. Praesent suscipit massa ipsum, quis tempor lectus scelerisque vel.</p>
</div>
<div class="dialog-footer">
  <a class="btn" (click)="registerFlow('a')">Register</a>
</div>
