#toolbar {
  position: relative;
  background: #ffffff;
  box-shadow: 0 2px 5px #a0a0a0;
}

  #toolbar span {
    position: relative;
    display: inline-block;
    padding: 10px;
    font-weight: bold;
    font-size: 10px;
    text-transform: uppercase;
    color: #808080;
    cursor: pointer;
    letter-spacing: 2px;
    transition: color 0.5s ease;
  }

    #toolbar span.active {
      color: #3c69a6;
    }

    #toolbar span.current {
      color: #ffffff;
      background: #3c69a6;
    }

    #toolbar span.inactive {
      pointer-events: none;
    }
