<div id="toolbar">
  <div class="container">
    <nav>
      <span *ngFor="let item of navigation_bar" [class.current]="item.current" [class.active]="item.active" [class.inactive]="!item.active" routerLink={{item.link}}>{{ item.name }}</span>
    </nav>
  </div>
</div>
