<div id="main-banner"></div>
<div class="container">
  <section id="section-selection" class="section">
    <h1>Selection View</h1>
    <div class="section-actions">
      <a class="btn" (click)="selectionDetail('a')">Continue in Flow A</a>
      <a class="btn" (click)="selectionDetail('b')">Continue in Flow B</a>
    </div>
    <div [class]="'dialog'" [class.is_visible]="dialog_is_visible">
      <div class="dialog-content">
        <div #selection_detail></div>
      </div>
    </div>
  </section>
</div>
