<div id="main-banner" class="fade-in"></div>
<div class="container">
  <section id="section-intro" class="section">
    <h1 class="slideUp"><strong>Welcome</strong> to demo!</h1>
    <a routerLink="/selection" class="btn">Continue</a>
  </section>
</div>
