<div class="container">
  <section id="section-intro" class="section">
    <h1>Conclusion View</h1>
    <div class="section-list">
      <ul>
        <li>
          <span class="list-key">Flow</span>
          <span class="list-value">{{ conclusion_state.user_flow }}</span>
        </li>
        <li>
          <span class="list-key">Name</span>
          <span class="list-value">{{ conclusion_state.user_data.name }}</span>
        </li>
        <li>
          <span class="list-key">Email</span>
          <span class="list-value">{{ conclusion_state.user_data.email }}</span>
        </li>
        <li>
          <span class="list-key">Phone</span>
          <span class="list-value">{{ conclusion_state.user_data.phone }}</span>
        </li>
      </ul>
    </div>
  </section>
</div>
