<header id="header">
  <div class="container">
    <a routerLink="">
      <img src="/assets/logo-header.png" alt="Viscira" />
    </a>
  </div>
</header>

<app-toolbar></app-toolbar>

<main id="main">
  <router-outlet></router-outlet>
</main>

<footer id="footer">
  <div class="container">
    <div class="footer-logo">
      <img src="/assets/logo-footer.png" alt="Viscira" />
    </div>
    <div class="footer-nav">
      <a routerLink="">Home</a>
    </div>
  </div>
</footer>
