#header {
  padding: 10px 0;
  background: #f0f0f0;
  border-bottom: 1px solid #e0e0e0;
}

  #header img {
    height: 50px;
    display: inline-block;
  }

#footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: flow-root;
  padding: 10px 0;
  background: #3c69a6;
}

  .footer-logo {
    float: left;
  }

    .footer-logo img {
      display: block;
      height: 30px;
    }

  .footer-nav {
    float: right;
  }

    .footer-nav a {
      line-height: 30px;
      font-size: 13px;
      text-transform: uppercase;
      text-decoration: none;
      color: #8baee0;
      transition: font-weight 1s ease, color 1s ease;
    }

      .footer-nav a:hover {
        font-weight: bold;
        color: #ffffff;
      }


@media (max-width: 968px){

  #header {
    text-align: center;
  }

}
