<div class="dialog-header">
  <span>Basic details</span>
</div>
<div class="dialog-body">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ut dictum massa, pharetra condimentum odio. Quisque semper nulla ipsum, vel porttitor mi tempus at. Suspendisse finibus vehicula odio. Cras dapibus dui id sodales dictum. Praesent ac elit nec nisi dapibus tincidunt a quis ante. Nullam ut nunc arcu. Quisque mollis ut tellus eu ultricies. Praesent faucibus non dolor eu lobortis.</p>
  <p>Sed elit urna, rhoncus ac varius vitae, facilisis non tortor. Nullam vel purus non lacus varius euismod non et tellus. Suspendisse tincidunt dolor eget erat lobortis pulvinar. Praesent eleifend, lorem id tincidunt lacinia, est eros maximus lacus, sed convallis est turpis eget dolor. Cras et diam orci. In in laoreet enim. Mauris nec venenatis dui.</p>
</div>
<div class="dialog-footer">
  <a class="btn" (click)="changeDisplay('b')">Advanced details</a>
  <a class="btn" routerLink="/conclusion">Finish</a>
</div>
