@import "assets/normalize.css";

html, body {
  font-family: Arial, Helvetica, sans-serif
}

body {
  padding-bottom: 100px;
}

.container {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto
}

.dialog {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
}

  .dialog.is_visible {
    display: block;
  }

  .dialog-content {
    display: block;
    background: #ffffff;
    z-index: 9000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 5px;
    min-width: 300px;
    max-width: 400px;
  }

    .dialog-header {
      position: relative;
      text-align: left;
      background: #c6c6c6;
      margin: -20px -20px 20px -20px;
      border-radius: 3px 3px 0 0;
      padding: 10px;
    }

      .dialog-header .btn-close {
        border-radius: 30px;
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);
        padding: 5px;
        width: 20px;
        text-align: center;
        line-height: initial;
        background: #c40000;
      }

        .dialog-header span {
          font-size: 14px;
          font-weight: bold;
          color: #505050;
        }

        .dialog-header .btn-close:hover {
          border-radius: 5px;
          padding: 20px;
          margin: 0;
          background: #8b0c0c;
        }

    .dialog-body {
      padding: 10px;
      text-align: left;
      max-height: 300px;
      overflow-y: auto;
      margin: 30px 0;
    }

    .dialog-footer {
      background: #c6c6c6;
      margin: 20px -20px -20px -20px;
      border-radius: 0 0 3px 3px;
      padding: 20px;
    }

      .dialog-footer .btn {
        display: inline-block;
        margin: 0 10px;
      }

.btn {
  padding: 10px 20px;
  color: #d8dfe7;
  text-decoration: none;
  background: #3c69a6;
  border-radius: 3px;
  transition: background-color 1s ease, padding 0.1s ease, margin 0.1s ease, color 0.5s ease;
  cursor: pointer;
}

  .btn:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #2f568b;
    animation: pulse 1s infinite;
  }

.section {
  text-align: center
}

  .section h1 {
    color: #505050;
    font-size: 40px;
    font-weight: normal;
    text-transform: uppercase;
  }

  .section-actions .btn {
    display: inline-block;
    margin: 0 5px;
  }

  .section-list {
    margin: 0 auto;
    max-width: 400px;
    text-align: left;
  }

    .section-list ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

      .section-list ul li {
        display: flex;
        margin-bottom: 10px;
      }

        .section-list .list-key {
          text-align: right;
          display: inline-block;
          min-width: 50px;
          padding: 10px;
          color: #ffffff;
          background: #3c69a6;
          border: 1px solid #3c69a6;
          border-right: none;
          border-radius: 3px 0 0 3px;
          line-height: initial;
        }

        .section-list .list-value {
          display: inline-block;
          padding: 10px;
          background: #fafafa;
          border: 1px solid #e0e0e0;
          border-left: none;
          border-radius: 0 3px 3px 0;
          line-height: initial;
          flex-grow: 1;
        }

#main-banner {
  height: 250px;
  border-bottom: 1px solid #e0e0e0;
  box-shadow: inset 0px 11px 8px -10px #a0a0a0, inset 0px -11px 8px -10px #a0a0a0;
  background: url(assets/banner.jpg) center center no-repeat;
}

@media (max-width: 968px){

  #main-banner {
    height: 150px;
    background-size: cover;
  }

}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(114,128,207, 0.4);
    box-shadow: 0 0 0 0 rgba(114,128,207, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(114,128,207, 0);
      box-shadow: 0 0 0 10px rgba(114,128,207, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(114,128,207, 0);
      box-shadow: 0 0 0 0 rgba(114,128,207, 0);
  }
}
