<div class="container">
  <section id="section-intro" class="section">
    <h1>Register View</h1>
    <div class="section-form">
      <form [formGroup]="formRegister">
        <fieldset>
          <label for="field_name">Name:</label>
          <input formControlName="fieldName" type="text" id="field_name" maxlength="100" required />
        </fieldset>
        <fieldset>
          <label for="field_email">Email:</label>
          <input formControlName="fieldEmail" type="email" id="field_email" maxlength="100" required />
        </fieldset>
        <fieldset>
          <label for="field_phone">Phone:</label>
          <input formControlName="fieldPhone" type="number" id="field_phone" min="0" step="1" />
        </fieldset>
      </form>
    </div>
    <div class="section-actions" *ngIf="user_flow=='a'; then flowABlock; else flowBBlock"></div>
    <ng-template #flowABlock>
        <a class="btn" (click)="registerUserData()">Continue</a>
    </ng-template>
    <ng-template #flowBBlock>
        <a class="btn" (click)="registerUserData()">Finish</a>
    </ng-template>
    <div [class]="'dialog'" [class.is_visible]="dialog_is_visible">
      <div class="dialog-content">
        <div #register_detail>Loading...</div>
      </div>
    </div>
  </section>
</div>
