#section-intro form {
  margin: 0 auto 30px auto;
  max-width: 400px;
  text-align: left;
}

  #section-intro form fieldset {
    margin: 0;
    padding: 5px;
    border: none;
  }

    #section-intro form label {
      display: block;
      font-size: 11px;
      font-weight: bold;
      text-transform: uppercase;
      color: #505050;
      margin-bottom: 3px;
    }

    #section-intro form input {
      display: block;
      width: 100%;
      padding: 5px 10px;
      border: 1px solid #e0e0e0;
      border-radius: 3px;
      background: #fcfcfc;
    }
